*.aux
*.bak
*.exe
*.log
*.out
*.synctex.gz
dist/
build/
Messungen/
Dokumentation/Dokumentation.pdf
Screenshots/
__pycache__/
py_venv/
pi_pico/*.uf2
Aufblaspruefstand_GUI.py
values.ini
Fotomassstab*.pdf